<html>

<head>
    <% for (let i=0; i<font_family_name_link.length; i++) { %>
        <link href='https://fonts.googleapis.com/css?family=<%= font_family_name_link[i] %>' rel='stylesheet' type='text/css'>
        <% } %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
      * {
          font-family: <%= font_family_name_name %> !important;
        }
      a {
        text-decoration:none;
      }
    </style>
</head>

<body>



  <div class="email_template" style="
    margin: 0 auto;
    max-width: 600px;
    font-family: <%= font_family_name_name %>;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #363436;

">
    <div style="
    margin: 0 20px;
    ">
      <div>
        <div style="height: 70px;display: table;width: 100%;border-bottom: solid 2px rgba(54, 52, 54, 0.1);font-size: 14px;">
          <div style="height: 30px;display: table-cell;vertical-align: middle;">
            <img src="https://theasia.imgix.net/logo/theasia.png">
          </div>
        </div>
        <div class="content" style="margin-top: 30px;font-size: 14px;">

          <h1 style=" font-family: <%= font_family_name_name %>;color: #363436;"><%= text1 %></h1>
          <span style="font-family: <%= font_family_name_name %>;
            font-size: 14px;
            font-weight: 300;"><strong><%= hi_text %> <%= reviewer_name %> <%= hi_text_after %></strong>
          </span><br>
          <span style="font-family: <%= font_family_name_name %>;
        font-size: 14px;
        font-weight: 300;"><%= text2 %>
          </span>

          <div style="
          max-width: 370px;
          margin: auto;
">

          <% if (review_comment) { %>
            <h1 style="
          padding-top: 20px;
          font-family: <%= font_family_name_name %>;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.31;
          letter-spacing: normal;
          color: #363436;
          "><%= review_comment %>:</h1>
          <% } else { %>
            <ul style="
        padding-left: 16px;
        width: 90%;
        height: 84px;
        font-family: <%= font_family_name_name %>;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
      ">
            <li><%= rejected_reasons_1 %></li>
            <li><%= rejected_reasons_2 %></li>
            <li><%= rejected_reasons_3 %></li>
          </ul>
          <% } %>
        </div>

          <div class="action-content" style="margin: 25px 0;">
            <p><span style="font-family: <%= font_family_name_name %>;
              font-size: 14px;
              font-weight: 300;"><%= text3 %>
                </span></p>
            <p><button style="padding: 10px;
              border-radius: 3px;
              background-image: linear-gradient(to right, #ff8733, #ffc32c);border: none;">
                  <span style="padding: 30px;
                font-family: <%= font_family_name_name %>;
                font-size: 16px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #ffffff;"><%= login_to %></span>
                </button></p>
            <p><span style="font-family: <%= font_family_name_name %>;
              font-size: 14px;
              font-weight: 300;"><%= text2 %>
                </span></p>
          </div>

          <div>
            <span style="margin-bottom: 4px"><%= regards %>,</span>
            <div style="color: #4cac87;font-weight: bold;"><a style="font-weight: bold; color: #4cac87;text-decoration: none;" target="blank" href="#">TheAsia.com</a></div>
          <p>
            <span><%= newsletter %></span>
          </p>
          <p><a href="<%= url %>" style="padding: 10px;
            border-radius: 3px;
            background-image: linear-gradient(to right, #ff8733, #ffc32c);
            outline: none;
            border: none;">
            <span style=" padding: 30px;
            font-family: <%= font_family_name_name %>;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;"><%= subscribe_button %></span>
          </a></p>
          </div>
          <%- include('../partial/footer.ejs') %>
        </div>
      </div>
    </div>
  </div>




</body>

</html>
