<html>

<head>
    <% for (let i=0; i<font_family_name_link.length; i++) { %>
        <link href='https://fonts.googleapis.com/css?family=<%= font_family_name_link[i] %>' rel='stylesheet' type='text/css'>
        <% } %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
      * {
        font-family: <%= font_family_name_name %> !important;
      }
  </style>
</head>

<body>
  <div style="
  margin: 0 auto;
  max-width: 600px;
  padding: 0 20px;
  font-family: <%= font_family_name_name %>;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #363436;
">
    <div>
      <% if (affiliate_logo) { %>
        <div style="height: 70px;display: table;width: 100%;border-bottom: solid 2px rgba(54, 52, 54, 0.1);font-size: 14px;">
          <div style="height: 30px;display: table-cell;vertical-align: middle;">
            <img src="<%= affiliate_logo %>" style="height: 40px; max-width: 200px;">
          </div>
        </div>
      <% } %>
      <div class="content" style="margin-top: 30px;font-size: 14px;">
        <h1 style="color: #363436;font-family: <%= font_family_name_name %>;"><%= paragraph1 %></h1>
        <div><%= paragraph2before %>
          <b style="color:black"><a style="font-weight: bold; color:black;text-decoration: none;" href="#"><%= affiliate_company_name %></a></b> <%= paragraph2after %>
        </div>
        <div style="margin-top:30px">
          <table style="position: relative;margin: 0 auto;" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td>
                  <div style="width: 32px;height: 32px;border: solid 3px #ff8733;border-radius: 25px;display:  inline-block;">
                    <div style="position: relative;">
                      <div style="height: 100%;">
                        <div style="width: 20px;height: 20px;background-color: #ff8733;margin:auto;vertical-align: middle;border-radius: 25px;margin-top: 6px;"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div style="width: 241px;
                  height: 3px;
                  background-color: #4cac87;
                  display: inline-block;
                  vertical-align: middle;"> </div>
                </td>
                <td>
                  <div style="width: 32px;height: 32px;border: solid 3px;display:  inline-block;border-radius: 25px;border: 3px solid #4cac87;">
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

        <div style="
          margin-top: 10px;
          max-width: 370px;
          margin: 0 auto;
          padding: 10px;">
          <div style="
            height: 21px;
            font-family: <%= font_family_name_name %>;
            font-size: 18px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #363436;
            width: 50%;
            display: inline-block;
            text-align: left;"><%= on_request %></div>

          <div style="
            font-family: <%= font_family_name_name %>;
            font-size: 18px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #363436;
            text-align: right;
            width: 50%;
            display: inline-block;"><%= confirmed %></div>
        </div>


        <p style="margin: 30px 0;"> <%= paragraph3 %></p>
        <div style="
          width: 600px;
          font-family: <%= font_family_name_name %>;
          font-size: 18px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.56;
          letter-spacing: normal;
          color: #363436;
          text-shadow: 0 0 black;
          margin: 25px 0;">
          <div style="width:100%; display: inline-block;">
            <span style="display: inline-block;"><%= booking_number_label %>:</span>
            <span style="display: inline-block; color: #ff8733; width: 60%; float: right;">#<%= booking_no %></span>
          </div>
          <div style="width:100%; display: inline-block;">
            <span style="display: inline-block;"><%= booking_status_label %>:</span>
            <span style="display: inline-block; color: #ff8733; width: 60%; float: right;"><%= booking_status %></span>
          </div>
          <div style="margin-top:2em;width:100%; display: inline-block;">
            <span style="display: inline-block; font-size: 16px;"><%= tour_name_label %>:</span>
            <span style="display: inline-block; font-size: 16px; font-weight: normal; width: 60%; float: right;"><%= product_name %></span>
          </div>
          <div style="width:100%; display: inline-block;">
            <span style="display: inline-block; font-size: 16px;"><%= tour_option_label %>:</span>
            <span style="display: inline-block; font-size: 16px; font-weight: normal; width: 60%; float: right;"><%= sub_product_name %></span>
          </div>
          <div style="width:100%; display: inline-block;">
            <span style="display: inline-block; font-size: 16px;"><%= guest_name_label %>:</span>
            <span style="display: inline-block; font-size: 16px; font-weight: normal; width: 60%; float: right;"><%= name %></span>
          </div>
          <div style="width:100%; display: inline-block;">
            <span style="display: inline-block; font-size: 16px;"><%= customer_email_label %>:</span>
            <span style="display: inline-block; font-size: 16px; font-weight: normal; width: 60%; float: right;"><a style="text-decoration: none; color:black;" href="#"><%= to_email %></a></span>
          </div>
          <div style="width:100%; display: inline-block;">
            <span style="display: inline-block; font-size: 16px;"><%= booking_date_label %>:</span>
            <span style="display: inline-block; font-size: 16px; font-weight: normal; width: 60%; float: right;"><%= booking_date %></span>
          </div>
          <div style="width:100%; display: inline-block;">
            <span style="display: inline-block; font-size: 16px;"><%= tour_date_lable %>:</span>
            <span style="display: inline-block; font-size: 16px; font-weight: normal; width: 60%; float: right;"><%= trip_date %></span>
          </div>
        </div>
        <div>
          <span style="margin-bottom: 4px"><%= regards %></span>
          <div style="color: #4cac87;font-weight: bold;"><a style="font-weight: bold; color: #4cac87;text-decoration: none;" href="#"><%= affiliate_company_name %></a></div>
        </div>
        <%- include('../partial/affiliate_footer.ejs') %>
      </div>
    </div>
  </div>
</body>

</html>
