<html>

<head>
    <% for (let i=0; i<font_family_name_link.length; i++) { %>
        <link href='https://fonts.googleapis.com/css?family=<%= font_family_name_link[i] %>' rel='stylesheet' type='text/css'>
        <% } %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
      * {
        font-family: <%= font_family_name_name %> !important;
      }
  </style>
</head>


<body>
  <div class="email_template" style="
  max-width: 600px;
      margin: 0 auto;
      color: grey;
      padding: 0 20px;
      font-family: <%= font_family_name_name %>;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #363436;
  ">
    <div>
      <div>
        <div style="height: 70px;display: table;width: 100%;border-bottom: solid 2px rgba(54, 52, 54, 0.1);font-size: 14px;">
          <div style="height: 30px;display: table-cell;vertical-align: middle;">
            <img src="https://theasia.imgix.net/logo/theasia.png">
          </div>
        </div>
        <div class="content" style="margin-top: 30px;font-size: 14px;">
          <div style="margin-bottom: 20px;color: black;font-weight: bold;">
            <span style="font-size: 24px;
            font-weight: bold;
            line-height: 0.88;"><%= paragraph1 %>
            </span>
          </div>
          <div style="font-family: <%= font_family_name_name %>; font-size: 14px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;">
            <%= paragraph2 %>
          </div>


          <div style="
          margin-top: 30px;
          font-family: <%= font_family_name_name %>;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #363436;

          ">
            <div style="width:100%; display: inline-block;">
                <span style="display: inline-block;"><%= booking_number_label %>:</span>
                <span style="display: inline-block; color: #ff5064; width: 60%; float: right;">#<%= booking_no %></span>
              </div>
              <div style="width:100%; display: inline-block;">
                <span style="display: inline-block;"><%= booking_status_label %>:</span>
                <span style="display: inline-block; color: #ff5064; width: 60%; float: right;"><%= booking_status %></span>
              </div>
              <div style="margin-top:2em;width:100%; display: inline-block;">
                <span style="display: inline-block; font-size: 16px;"><%= tour_name_label %>:</span>
                <span style="display: inline-block; font-size: 16px; font-weight: normal; width: 60%; float: right;"><% if(supplier_product_name == ''){ %><%= tour_name %><% } else { %><%= supplier_product_name %><% } %></span>
              </div>
              <div style="width:100%; display: inline-block;">
                <span style="display: inline-block; font-size: 16px;"><%= customer_name_label %>:</span>
                <span style="display: inline-block; font-size: 16px; font-weight: normal; width: 60%; float: right;"><%= name %></span>
              </div>
              <div style="width:100%; display: inline-block;">
                  <span style="display: inline-block; font-size: 16px;"><%= customer_contact_label %>:</span>
                  <span style="display: inline-block; font-size: 16px; font-weight: normal; width: 60%; float: right;"><%= billing_phone %></span>
              </div>
              <% if(adult_pax || child_pax) { %>
                <div style="width:100%; display: inline-block;">
                    <span style="display: inline-block; font-size: 16px;"><%= total_pax_label %>:</span>
                    <span style="display: inline-block; font-size: 16px; font-weight: normal; width: 60%; float: right;"><%= adult_pax %><% if(adult_pax && child_pax) { %> | <% } %><%= child_pax %></span>
                </div>
              <% } %>
              <% if(vehicle_pax) { %>
                <div style="width:100%; display: inline-block;">
                    <span style="display: inline-block; font-size: 16px;"><%= total_vehicle_label %>:</span>
                    <span style="display: inline-block; font-size: 16px; font-weight: normal; width: 60%; float: right;"><%= vehicle_pax %></span>
                </div>
                <% if(drop_off_place) { %>
                  <div style="width:100%; display: inline-block;">
                      <span style="display: inline-block; font-size: 16px;"><%= drop_off_place_label %>:</span>
                      <span style="display: inline-block; font-size: 16px; font-weight: normal; width: 60%; float: right;"><%= drop_off_place %></span>
                  </div>
                  <% } %>
              <% } %>
              <% if(luggage_pax) { %>
                <div style="width:100%; display: inline-block;">
                    <span style="display: inline-block; font-size: 16px;"><%= total_luggage_label %>:</span>
                    <span style="display: inline-block; font-size: 16px; font-weight: normal; width: 60%; float: right;"><%= luggage_pax %></span>
                </div>
              <% } %>
              <% if(sim_pax) { %>
                <div style="width:100%; display: inline-block;">
                    <span style="display: inline-block; font-size: 16px;"><%= total_sim_label %>:</span>
                    <span style="display: inline-block; font-size: 16px; font-weight: normal; width: 60%; float: right;"><%= sim_pax %></span>
                </div>
              <% } %>
              <div style="width:100%; display: inline-block;">
                <span style="display: inline-block; font-size: 16px;"><%= tour_date_lable %>:</span>
                <span style="display: inline-block; font-size: 16px; font-weight: normal; width: 60%; float: right;"><%= trip_date %></span>
              </div>
          </div>
          <% if(cancellation_reasons.length > 0) { %>
          <h4 style="font-family: <%= font_family_name_name %>;
          font-size: 14px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          font-weight: bold;
          color: #363436;"><%= paragraph3 %></h4>
            <% for(var i=0; i<cancellation_reasons.length; i++) { %>
              <p style="padding-left: 30px; letter-spacing: 1px;">
                “<%= cancellation_reasons[i].reason %>”
              </p>
            <% } %>
          <% } %>
          <p style="font-family: <%= font_family_name_name %>; margin: 40px 0;"><%= paragraph4 %></p>

          <div>
            <span style="margin-bottom: 4px"><%= regards %></span>
            <div style="color: #4cac87;font-weight: bold;"><a style="font-weight: bold; color: #4cac87;text-decoration: none;" target="blank" href="<%= website_url %>"><%= regards_website_url %></a></div>
          </div>
          <%- include('../partial/footer.ejs') %>
        </div>
      </div>
    </div>




  </div>
</body>

</html>
