<html>

<head>
    <% for (let i=0; i<font_family_name_link.length; i++) { %>
        <link href='https://fonts.googleapis.com/css?family=<%= font_family_name_link[i] %>' rel='stylesheet' type='text/css'>
        <% } %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
      * {
        font-family: <%= font_family_name_name %> !important;
      }
  </style>
</head>


<body>
  <div class="email_template" style="max-width: 600px; margin: 0 auto; padding: 0 20px;font-family: <%= font_family_name_name %>;font-style: normal;font-stretch: normal;line-height: 1.5;letter-spacing: normal;color: #363436;">
    <div>
      <div>
        <div style="height: 70px;display: table;width: 100%;border-bottom: solid 2px rgba(54, 52, 54, 0.1);font-size: 14px;">
          <div style="height: 30px;display: table-cell;vertical-align: middle;">
            <img src="https://theasia.imgix.net/logo/theasia.png">
          </div>
        </div>
        <div class="content" style="margin-top: 30px;font-size: 14px;">

          <h1 style=" font-family: <%= font_family_name_name %>;color: #363436;"><%= paragraph1 %></h1>
          <div style="font-family: <%= font_family_name_name %>; font-size: 14px; font-weight: 300; font-style: normal; font-stretch: normal; line-height: 1.5; letter-spacing: normal;">
            <b style="color: #363436;"><%= paragraph2_bold_before %> </b> <%= paragraph2_before %>
          </div>

          <div style="
            margin-top: 30px;
            font-family: <%= font_family_name_name %>;
            font-size: 18px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.56;
            letter-spacing: normal;
            color: #363436;">
            <div>
              <span style="width: 50%;"><%= booking_number_label %>:</span>
              <span style="color: #4cac87;width: 60%;float: right;">#<%= booking_no %></span>
            </div>
            <div><%= booking_status_label %>:
              <span style="color: #4cac87;width: 60%;float: right;"><%= booking_status %></span>
            </div>
          </div>
          <div style="margin-top:2em;width:100%; display: inline-block;">
              <span style="display: inline-block; font-size: 16px;"><%= tour_name_label %>:</span>
              <span style="display: inline-block; font-size: 16px; font-weight: normal; width: 60%; float: right;"><% if(supplier_product_name == ''){ %><%= product_name %><% } else { %><%= supplier_product_name %><% } %></span>
            </div>
            <div style="width:100%; display: inline-block;">
              <span style="display: inline-block; font-size: 16px;"><%= customer_name_label %>:</span>
              <span style="display: inline-block; font-size: 16px; font-weight: normal; width: 60%; float: right;"><a style="text-decoration: none; color:black;" href="#"><%= name %></a></span>
            </div>
            <div style="width:100%; display: inline-block;">
              <span style="display: inline-block; font-size: 16px;"><%= customer_contact_label %>:</span>
              <span style="display: inline-block; font-size: 16px; font-weight: normal; width: 60%; float: right;"><%= billing_phone %></span>
            </div>
            <% if(adult_pax || child_pax) { %>
              <div style="width:100%; display: inline-block;">
                  <span style="display: inline-block; font-size: 16px;"><%= total_pax_label %>:</span>
                  <span style="display: inline-block; font-size: 16px; font-weight: normal; width: 60%; float: right;"><%= adult_pax %><% if(adult_pax && child_pax) { %> | <% } %><%= child_pax %></span>
              </div>
            <% } %>
            <% if(vehicle_pax) { %>
              <div style="width:100%; display: inline-block;">
                  <span style="display: inline-block; font-size: 16px;"><%= total_vehicle_label %>:</span>
                  <span style="display: inline-block; font-size: 16px; font-weight: normal; width: 60%; float: right;"><%= vehicle_pax %></span>
              </div>
              <% if(drop_off_place) { %>
                <div style="width:100%; display: inline-block;">
                    <span style="display: inline-block; font-size: 16px;"><%= drop_off_place_label %>:</span>
                    <span style="display: inline-block; font-size: 16px; font-weight: normal; width: 60%; float: right;"><%= drop_off_place %></span>
                </div>
                <% } %>
            <% } %>
            <% if(luggage_pax) { %>
              <div style="width:100%; display: inline-block;">
                  <span style="display: inline-block; font-size: 16px;"><%= total_luggage_label %>:</span>
                  <span style="display: inline-block; font-size: 16px; font-weight: normal; width: 60%; float: right;"><%= luggage_pax %></span>
              </div>
            <% } %>
            <% if(sim_pax) { %>
              <div style="width:100%; display: inline-block;">
                  <span style="display: inline-block; font-size: 16px;"><%= total_sim_label %>:</span>
                  <span style="display: inline-block; font-size: 16px; font-weight: normal; width: 60%; float: right;"><%= sim_pax %></span>
              </div>
            <% } %>
            <div style="width:100%; display: inline-block;">
              <span style="display: inline-block; font-size: 16px;"><%= tour_date_lable %>:</span>
              <span style="display: inline-block; font-size: 16px; font-weight: normal; width: 60%; float: right;"><%= trip_date %></span>
            </div>
            <% if(special_request) { %>
              <div style="width:100%; display: inline-block;">
                <span style="display: inline-block; font-size: 16px;"><%= special_requests_header %>:</span>
                <span style="display: inline-block; font-size: 16px; font-weight: normal; width: 60%; float: right;"><%= special_request %></span>
              </div>
              <% } %>
          <div style="margin-top:20px;margin-bottom: 4px">
            <span style="margin-top:20px;margin-bottom: 4px"><%= regards %></span>
            <div style="color: #4cac87;font-weight: bold;"><a style="font-weight: bold; color: #4cac87;text-decoration: none;" target="blank" href="<%= website_url %>"><%= regards_website_url %></a></div>
          </div>

          <hr style="border: solid 1px rgba(54, 52, 54, 0.1);
          margin: 50px 0;">

          <div>
            <h2 style="color: #363436; font-family: <%= font_family_name_name %>;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;"><%= booking_detail_header %></h2>

            <p style="     margin: 30px 0;
  font-family: <%= font_family_name_name %>;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #363436;"><% if(supplier_product_name == ''){ %><%= product_name %><% } else { %><%= supplier_product_name %><% } %></p>
          </div>

          <div>

            <table style="margin:20px 0;width: 100%;">
              <tbody>
                  <tr>
                      <td style="width: 50%; color:#363436;">
                        <b><%= departure_date_label %>: </b>
                      </td>
                      <td style="    padding-bottom: 5px;
                              color: #363436;
                              "><%= trip_date %></td>
                    </tr>
                    <tr>
                      <td style="width: 50%;color: #363436;     padding-bottom: 5px;">
                        <b><%= booking_date_label %>: </b>
                      </td>
                      <td style="    padding-bottom: 5px;
                              color: #363436;
                              "><%= booking_date %></td>
                    </tr>
              </tbody>
            </table>

          </div>

          <hr style="border: solid 1px rgba(54, 52, 54, 0.1); margin: 30px 0;">

          <div>
            <h2 style="color: #363436;"><%= customer_detail_header %></h2>

            <table style="margin:20px 0;width: 100%;">
              <tbody>
                <tr>
                  <td style="width: 50%; font-weight: 300; padding-bottom: 20px;">
                    <span style="
                  color: rgba(54, 52, 54, 0.5); ">
                      <%= customer_name_label %>
                    </span>
                    <br>
                    <span style="color: #363436;">
                      <b><%= name %></b>
                    </span>
                  </td>
                  <td style="font-family: <%= font_family_name_name %>;
                              color: #363436;padding-bottom: 5px;
                              ">
                    <span style=" color: rgba(54, 52, 54, 0.5); "><%= customer_email_label %></span>
                    <br>
                    <span style="color: #363436;">
                      <b>
                        <a style="text-decoration: none; color:black;" href="#"><%= user %></a>
                      </b>
                    </span>
                  </td>
                </tr>

                <tr>
                  <td style="width: 50%;color: #363436; padding-bottom: 5px; font-family: <%= font_family_name_name %>; ">
                    <span style=" color: rgba(54, 52, 54, 0.5); "><%= customer_nationality_label %></span>
                    <br>
                    <span style="color: #363436;">
                      <b><%= nationality %></b>
                    </span>
                  </td>
                  <td style="padding-bottom: 5px; color: #363436; ">
                    <span style=" color: rgba(54, 52, 54, 0.5); "><%= contact_number_label %></span>
                    <br>
                    <span style="color: #363436;">
                      <b><%= billing_phone %></b>
                    </span>
                  </td>
                </tr>


              </tbody>
            </table>


          </div>

          <hr style="border: solid 1px rgba(54, 52, 54, 0.1); margin: 30px 0; ">

          <div>

            <h2 style="color: #363436; "><%= price_breakdown_header %></h2>
            <table style="margin:20px 0;width: 100%; ">
              <tbody>
                <% if(adult_pax) { %>
                <tr>
                  <td style="width: 50%; padding-bottom: 5px;">
                    <b style=" color: #363436; "><%= adult_pax %></b></td>
                  <td style="  padding-bottom: 5px;">
                    <b style=" color: #363436; "><%= supplier_currency_code %> <%= supplier_adult_price %></b>
                  </td>
                </tr>
                <% } %>
                <% if(child_pax) { %>
                <tr>
                  <td style="width: 50%; padding-bottom: 5px; ">
                    <b style=" color: #363436; "><%= child_pax %> </b>
                  </td>
                  <td style=" padding-bottom: 5px; ">
                    <b style=" color: #363436; "><%= supplier_currency_code %> <%= supplier_child_price %></b>
                  </td>
                </tr>
                <% } %>
                <tr>
                  <td style="width: 50%; padding-bottom: 5px; ">
                    <b style=" color: #363436; "><%= total_price %> </b>
                  </td>
                  <td style="  padding-bottom: 5px;">
                    <b style="color: #4cac87; "><%= supplier_currency_code %>
                      <span style=" font-size: 24px;color: #4cac87; "><%= supplier_total %></span>
                    </b>
                  </td>
                </tr>


              </tbody>
            </table>

          </div>
          <% if(special_request) { %>
          <hr style="border: solid 1px rgba(54, 52, 54, 0.1); margin: 30px 0; ">

          
          <h2 style="color: #363436; "><%= special_requests_header %></h2>
          <p><%= special_request %></p>
          <% } %>

          <% if (passport_number || pickup_location_time || pickup_place || pickup_time || hotel_name || flight_number || selected_time) { %>

          <hr style="border: solid 1px rgba(54, 52, 54, 0.1); margin: 30px 0; ">

          <div>

            <h2 style="color: #363436; "><%= pick_up_information_header %></h2>
            <table style="margin:20px 0;width: 100%; ">
              <tbody>
                <tr>
                    <% if(passport_number) { %>
                  <td style="width: 50%; font-weight: 300; color: rgba(54, 52, 54, 0.5); ">
                    <span><%= passport_number_label %></h2></span>
                    <br>
                    <span>
                      <b style=" color: #363436; "><%= passport_number %></b>
                    </span>
                  </td>
                  <% } %>
                  <% if(pickup_location_time) { %>
                  <td style="width: 50%;width: 50%; font-weight: 300; color: rgba(54, 52, 54, 0.5); ">
                    <span>Pickup time and location</span>
                    <br>
                    <span>
                      <b style=" color: #363436; "><%= pickup_location_time %></b>
                    </span>

                  </td>
                  <% } %>
                </tr>

                <tr>
                  <% if(pickup_place) { %>
                  <td style="width: 50%; font-weight: 300; color: rgba(54, 52, 54, 0.5); padding-top: 10px; ">
                    <span> <%= pickup_location_label %></span>
                    <br>
                    <span>
                      <b style=" color: #363436; "><%= pickup_place %></b>
                    </span>
                  </td>
                  <% } %>
                  <% if(pickup_time) { %>
                  <td style="width: 50%; font-weight: 300; color: rgba(54, 52, 54, 0.5); padding-top: 10px; ">
                    <span><%= pick_up_time_label %></span>
                    <br>
                    <span>
                      <b style=" color: #363436; "><%= pickup_time %></b>
                    </span>
                  </td>
                  <% } %>
                </tr>
                <tr>
                  <% if(hotel_name) { %>
                  <td style="width: 50%;width: 50%; font-weight: 300; color: rgba(54, 52, 54, 0.5); padding-top: 10px; ">
                    <span><%= hotel_name_label %></span>
                    <br>
                    <span>
                      <b style=" color: #363436; "><%= hotel_name %></b>
                    </span>
                  </td>
                  <% } %>
                  <% if(flight_number) { %>
                  <td style="width: 50%; font-weight: 300; color: rgba(54, 52, 54, 0.5); padding-top: 10px; ">
                    <span><%= flight_number_label %></span>
                    <br>
                    <span>
                      <b style=" color: #363436; "><%= flight_number %></b>
                    </span>
                  </td>
                  <% } %>
                </tr>
              </tbody>
            </table>

          </div>

          <% } %>

          <%- include('../partial/footer.ejs') %>
        </div>
      </div>
    </div>




  </div>
</body>

</html>
