<html>


<head>

    <% for (let i=0; i<font_family_name_link.length; i++) { %>
        <link href='https://fonts.googleapis.com/css?family=<%= font_family_name_link[i] %>' rel='stylesheet' type='text/css'>
        <% } %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <style>
    * {
        font-family: <%= font_family_name_name %> !important;
      }
    @media only screen and (max-width: 500px) {
      .text-mg-container .text {
        width: 100% !important;
      }
    }
    a {
      text-decoration:none;
    }
  </style>
</head>

<body>
  <div style="
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: <%= font_family_name_name %>;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #363436;
    ">
    <div>
      <div class="header" style="height: 70px;display: table;width: 100%;font-size: 14px;">
        <div style="height: 30px;display: table-cell;vertical-align: middle;">
          <img src="https://theasia.imgix.net/logo/theasia.png">
        </div>
      </div>
      <div class="content" style="font-size: 14px;">
        <div class="img-container">
          <img src="http://theasia.imgix.net/emails/v2/img-4.PNG" style="object-fit: cover;width: 100%; height: 200px;" />
        </div>
        <div class="welcome-content" style="margin-top: 46px">
          <h1 style="color:black">
            Welcome to TheAsia.com!
          </h1>
          <p><%= great_news %></p>
        </div>
        <div class="action-content" style="margin: 23px 0">
        <div style="padding: 10px;  border-radius: 3px;
            background-image: linear-gradient(to right, #ff8733, #ffc32c);
            outline: none;
            border: none;display:inline-block;">
            <a   href="<%= url %>" style="padding: 10px;
            border-radius: 3px;
            background-image: linear-gradient(to right, #ff8733, #ffc32c);
            outline: none;
            border: none;">
              <span style="padding: 10px;
            font-family: <%= font_family_name_name %>;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;"><%= reset_your_password %></span>
            </a>
          </div>
        </div>
        <div class="text-content">
          <p style="margin: 23px 0;">
            <%= paragraph1 %>
          </p>
          <p style="margin: 23px 0;"><%= paragraph2 %></p>
          <p style="margin: 23px 0;">
            <span><%= regards %></span>
            <br/>
            <b style="color:#4cac87"><a style="font-weight: bold; color: #4cac87;text-decoration: none;" target="blank" href="#">TheAsia.com</a></b>
          </p>
        </div>
        <hr style="border: solid 1px rgba(54, 52, 54, 0.1);
        margin: 50px 0;" />
        <%- include('../partial/footer.ejs') %>
      </div>
    </div>
  </div>




</body>

</html>
